* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "RacingSansOne";
  src: url(/font/RacingSansOne-Regular.ttf);
}
#arrow-left {
  transform: rotate(80deg);
}

.section-bottom__button {
  cursor: pointer;
}

body {
  background: #030a1d;
  background-image: url(/img/fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
}

.section-top {
  max-width: 1295px;
  padding: 38px 0;
  padding-bottom: calc((100vw - 375px) / 1920 * 230 + 160px);
  margin: auto;
  color: white;
}
.section-top__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc((100vw - 375px) / 1920 * 240 + 40px);
}
.section-top__item {
  cursor: pointer;
  font-weight: 700;
  list-style: none;
  letter-spacing: 0.5px;
}
.section-top__title {
  font-size: calc((100vw - 375px) / 1900 * 145 + 40px);
  text-align: center;
  font-weight: normal;
  font-family: "RacingSansOne";
  text-shadow: 12px 23px #070a53;
  margin-bottom: calc((100vw - 375px) / 1900 * 40 + 40px);
}
.section-top__sub-title {
  margin: 0 auto;
  letter-spacing: 0.6px;
  max-width: calc((100vw - 375px) / 1900 * 330 + 300px);
  line-height: calc((100vw - 375px) / 1900 * 24 + 20px);
  font-size: calc((100vw - 375px) / 1900 * 24 + 20px);
  text-align: center;
  margin-bottom: calc((100vw - 680px) / 1920 * 365 + 40px);
}

.blue-bg {
  background: #0f64fb;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.orange-bg {
  background: #FB2B0F;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.section-bottom {
  position: relative;
}
.section-bottom__title {
  left: 0;
  right: 0;
  top: -130px;
  position: absolute;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: calc((100vw - 375px) / 1900 * 32 + 25px);
}
.section-bottom__wrapper {
  display: flex;
  align-items: start;
}
.section-bottom__title-content {
  color: #7bd0ff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}
.section-bottom__button {
  border-radius: 50px;
  width: 286px;
  height: 50px;
  padding-top: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border: none;
}
.section-bottom__text {
  margin-bottom: 61px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.01px;
  line-height: 120%; /* 21.6px */
  font-weight: 500;
}
.section-bottom__content-one {
  padding-top: 97px;
  padding-left: 73px;
}
.section-bottom__text::first-letter {
  margin-left: 13px;
}
.section-bottom__wrapper-one {
  padding-left: calc((100vw - 1200px) / 1920 * 90 + 65px);
}
.section-bottom__wrapper-two {
  padding-top: 40px;
  padding-left: 202px;
  justify-content: center;
}
.section-bottom__wrapper-tree {
  padding-top: 8px;
  justify-content: end;
  padding-right: calc((100vw - 1200px) / 1920 * 100 + 170px);
}
.section-bottom__wrapper-four {
  padding-top: 150px;
  padding-left: calc((100vw - 1200px) / 1920 * 210 + 205px);
  justify-content: center;
}
.section-bottom__wrapper-five {
  padding-top: 107px;
  padding-right: calc((100vw - 1200px) / 1920 * 1710 + 180px);
  justify-content: end;
}
.section-bottom__content-two {
  margin-top: 45px;
  margin-left: 55px;
}
.section-bottom__content-four {
  margin-top: 45px;
  margin-left: 75px;
}
.section-bottom__content-five {
  margin-left: 40px;
}
.section-bottom__img-planet-two {
  margin-top: 60px;
  margin-left: 35px;
}
.section-bottom__img-planet-tree {
  margin-left: -25px;
  margin-top: 100px;
  margin-right: 68px;
}
.section-bottom__text-one {
  max-width: 305px;
}
.section-bottom__text-two {
  margin-bottom: 57px;
  max-width: 290px;
}
.section-bottom__text-tree {
  max-width: 287px;
}
.section-bottom__text-four {
  max-width: 310px;
}
.section-bottom__text-five {
  max-width: 270px;
}
.section-bottom__title-content-two {
  max-width: 300px;
  line-height: 110%;
  margin-bottom: 25px;
}
.section-bottom__title-content-tree {
  margin-top: 143px;
}
.section-bottom__img-wrapper {
  position: relative;
}
.section-bottom__arrow {
  position: absolute;
}
.section-bottom__arrow-one {
  top: calc((100vw - 1200px) / 1920 * 150 + 375px);
  left: calc((100vw - 1200px) / 1920 * 250 + 406px);
}
.section-bottom__arrow-two {
  top: calc((100vw - 1200px) / 1920 * 60 + 326px);
  left: calc((100vw - 1200px) / 1920 * 325 + 100px);
}
.section-bottom__arrow-tree {
  top: calc((100vw - 1200px) / 1920 * 70 + 388px);
  right: calc((100vw - 1200px) / 1920 * 400 + 149px);
}
.section-bottom__arrow-four {
  top: calc((100vw - 1200px) / 1920 * 0 + 293px);
  right: calc((100vw - 1200px) / 1920 * 445 + 77px);
}

@media (max-width: 1827px) {
  body {
    background-size: 100%;
  }
}
@media (max-width: 1400px) {
  .arrow-default {
    transform: rotate(42deg);
  }
  #arrow-left {
    transform: rotate(42deg);
  }
  .section-bottom__content-five {
    margin-left: 100px;
  }
  .section-top__navigation {
    padding: 0 16px;
  }
}
@media (max-width: 1199px) {
  .section-bottom__wrapper {
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-bottom: 100px;
    position: relative;
  }
  .section-bottom__arrow {
    left: 0;
    right: 0;
    margin: auto auto 0 auto;
    bottom: -30px;
  }
  .section-bottom__content {
    margin: 0;
    text-align: center;
  }
  .section-bottom__img-planet-tree, .section-bottom__img-planet-two {
    margin: 0;
  }
  .section-bottom__content {
    padding: 0;
  }
  .section-bottom__title-content {
    margin: 0;
  }
  .section-bottom__img-wrapper {
    position: static;
  }
}
@media (max-width: 1280px) {
  body {
    background-image: none;
  }
  .section-top {
    padding-top: calc((100vw - 375px) / 1280 * 320 + 20px);
    background-image: url(/img/mobile-top.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .section-top__sub-title {
    margin-bottom: calc((100vw - 640px) / 1280 * 145 + 45px);
  }
  .section-top__item {
    display: none;
    padding-bottom: 15px;
  }
  .section-top__item-active {
    display: inline;
  }
  .section-top__navigation {
    position: absolute;
    left: 0;
    top: 0;
  }
  .section-top__navigation-mobile {
    right: 0;
    bottom: 0;
    z-index: 90;
    background: #030a1d;
  }
  .section-top__burger-menu {
    cursor: pointer;
    padding-bottom: 15px;
    position: relative;
    padding-top: 15px;
  }
  .section-top__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
  }
  .section-top__item-burger {
    border-radius: 20px;
    transition-duration: 1s;
    width: 100%;
    height: 4px;
    background: white;
  }
  .section-top__list {
    flex-direction: column;
    max-width: 200px;
  }
  .section-bottom {
    background-image: url(/img/bottom-mobile.png);
    background-size: 700px;
  }
}
@media (max-width: 700px) {
  .section-bottom__img-wrapper {
    display: flex;
    justify-content: center;
  }
  .section-bottom__img-planet-one {
    width: 90%;
  }
  .section-bottom__title {
    top: calc((100vw - 375px) / 1280 * -247 - 60px);
  }
}
.section-top__item-burger-active:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}

.section-top__item-burger-active:nth-child(2) {
  display: none;
}

.section-top__item-burger-active:nth-child(3) {
  transform: rotate(133deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-top__button {
  margin-bottom: calc((100vw - 375px) / 1280 * 70 + 0px);
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc((100vw - 375px) / 1920 * 50 + 10px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  cursor: pointer;
  width: calc((100vw - 375px) / 1920 * 380 + 100px);
  height: calc((100vw - 375px) / 1920 * 380 + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url(/img/button.png);
  background-repeat: no-repeat;
}

.section-top__button img {
  width: calc((100vw - 375px) / 1920 * 20 + 10px);
}

.section-top__button p {
  margin-top: calc((100vw - 375px) / 1920 * 0 + 10px);
}/*# sourceMappingURL=style.css.map */