* {
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}
@font-face {
  font-family: "RacingSansOne";
  src: url(/font/RacingSansOne-Regular.ttf);
}
#arrow-left{
  transform: rotate(80deg);
}
.section-bottom__button{
  cursor: pointer;
}
body {
  background: #030a1d;
  background-image: url(/img/fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
}
.section-top {
  max-width: 1295px;
  padding: 38px 0;
  padding-bottom: calc((100vw - 375px) / 1920 * 230 + 160px);
  margin: auto;
  color: white;

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc((100vw - 375px) / 1920 * 240 + 40px);
  }
  &__item {
    cursor: pointer;
    font-weight: 700;
    list-style: none;
    letter-spacing: 0.5px;
  }
  &__title {
    font-size: calc((100vw - 375px) / 1900 * 145 + 40px);
    text-align: center;
    font-weight: normal;
    font-family: "RacingSansOne";
    text-shadow: 12px 23px #070a53;
    margin-bottom: calc((100vw - 375px) / 1900 * 40 + 40px);
  }
  &__sub-title {
    margin: 0 auto;
    letter-spacing: 0.6px;
    max-width: calc((100vw - 375px) / 1900 * 330 + 300px);
    line-height: calc((100vw - 375px) / 1900 * 24 + 20px);
    font-size: calc((100vw - 375px) / 1900 * 24 + 20px);
    text-align: center;
    margin-bottom: calc((100vw - 680px) / 1920 * 365 + 40px);
  }
  $size: 233px;
  $wrapper-one: 120px;
  $wrapper-two: 60px;
  $border: 30px;
}
.blue-bg {
  background: #0f64fb;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.orange-bg {
  background: #FB2B0F;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.section-bottom {
  position: relative;
  &__title {
    left: 0;
    right: 0;
    top: -130px;
    position: absolute;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: calc((100vw - 375px) / 1900 * 32 + 25px);
    // margin-bottom: 56px;
  }
  //
  //
  //
  &__wrapper {
    display: flex;
    align-items: start;
  }
  &__title-content {
    color: #7bd0ff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__button {
    border-radius: 50px;

    width: 286px;
    height: 50px;
    padding-top: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: none;
  }
  &__text {
    margin-bottom: 61px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.01px;
    line-height: 120%; /* 21.6px */
    font-weight: 500;
  }
  // Уникальные
  &__content-one {
    padding-top: 97px;
    padding-left: 73px;
  }
  //
  &__text::first-letter {
    margin-left: 13px;
  }
  //
  &__wrapper-one {
    padding-left: calc((100vw - 1200px) / 1920 * 90 + 65px);
  }
  &__wrapper-two {
    padding-top: 40px;
    padding-left: 202px;
    justify-content: center;
  }
  &__wrapper-tree {
    padding-top: 8px;
    justify-content: end;
    padding-right: calc((100vw - 1200px) / 1920 * 100 + 170px);
  }
  &__wrapper-four {
    padding-top: 150px;
    padding-left: calc((100vw - 1200px) / 1920 * 210 + 205px);
    justify-content: center;
  }
  &__wrapper-five {
    padding-top: 107px;
    padding-right: calc((100vw - 1200px) / 1920 * 1710 + 180px);
    justify-content: end;
  }
  &__content-two {
    margin-top: 45px;
    margin-left: 55px;
  }
  &__content-four {
    margin-top: 45px;
    margin-left: 75px;
  }
  &__content-five {
    margin-left: 40px;
  }
  &__img-planet-two {
    margin-top: 60px;
    margin-left: 35px;
  }
  &__img-planet-tree {
    margin-left: -25px;
    margin-top: 100px;
    margin-right: 68px;
  }
  &__img-planet-five {
    // margin-top: 10px;
  }
  &__text-one {
    max-width: 305px;
  }
  &__text-two {
    margin-bottom: 57px;
    max-width: 290px;
  }
  &__text-tree {
    max-width: 287px;
  }
  &__text-four {
    max-width: 310px;
  }
  &__text-five {
    max-width: 270px;
  }
  &__title-content-two {
    max-width: 300px;
    line-height: 110%;
    margin-bottom: 25px;
  }
  &__title-content-tree {
    margin-top: 143px;
  }
  &__img-wrapper {
    position: relative;
  }
  &__arrow {
    position: absolute;
  }
  &__arrow-one {
    top: calc((100vw - 1200px) / 1920 * 150 + 375px);
    left: calc((100vw - 1200px) / 1920 * 250 + 406px);
  }
  &__arrow-two {
    top: calc((100vw - 1200px) / 1920 * 60 + 326px);
    left: calc((100vw - 1200px) / 1920 * 325 + 100px);
  }
  &__arrow-tree {
    top: calc((100vw - 1200px) / 1920 * 70 + 388px);
    right: calc((100vw - 1200px) / 1920 * 400 + 149px);
  }
  &__arrow-four {
    top: calc((100vw - 1200px) / 1920 * 0 + 293px);
    right: calc((100vw - 1200px) / 1920 * 445 + 77px);
  }
}
@media (max-width: 1827px) {
  body {
    background-size: 100%;
  }
}
@media (max-width: 1400px) {
  .arrow-default{
    transform: rotate(42deg);
  }
  #arrow-left{
    transform: rotate(42deg);
  }
  .section-bottom {
    &__content-five {
      margin-left: 100px;
    }
  }
  .section-top {
    &__navigation {
      padding: 0 16px;
    }
  }
}
@media (max-width: 1199px) {
  .section-bottom {
    &__wrapper {
      align-items: center;
      flex-direction: column;
      padding: 0;
      padding-bottom: 100px;
      position: relative;
    }
    &__arrow {
      left: 0;
      right: 0;
      margin: auto auto 0 auto;
      bottom: -30px;
    }
    &__content {
      margin: 0;
      text-align: center;
    }
    &__img-planet-tree,
    &__img-planet-two {
      margin: 0;
    }
    &__content {
      padding: 0;
    }
    &__title-content {
      margin: 0;
    }
    &__img-wrapper {
      position: static;
    }
    &__wrapper-one {
    }
  }
 
  // body{
  //   position: relative;
  // }
  // body::after{
  //   content: "";
  //   position: absolute;
  //   left: 532px;
  //   top: 0;
  //   bottom: 0;
  //   width: 5px;
  //   background: red;
  // }
}
@media (max-width: 1280px) {
  $size: 133px;
  body {
    background-image: none;
  }
  .section-top {
    padding-top: calc((100vw - 375px) / 1280 * 320 + 20px);
    // padding-bottom: 80px;

    &__sub-title{
      margin-bottom: calc((100vw - 640px) / 1280 * 145 + 45px);
    }
    &__item {
      display: none;
      padding-bottom: 15px;
    }
    &__item-active {
      display: inline;
    }
    &__navigation {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__navigation-mobile {
      right: 0;
      bottom: 0;
      z-index: 90;
      background: #030a1d;
    }
    &__burger-menu {
      cursor: pointer;
      padding-bottom: 15px;
      position: relative;
      padding-top: 15px;
    }
    background-image: url(/img/mobile-top.png);
    background-size: 100%;
    background-repeat: no-repeat;
    &__burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 30px;
    }
    &__item-burger {
      border-radius: 20px;
      transition-duration: 1s;
      width: 100%;
      height: 4px;
      background: white;
    }
    &__list {
      flex-direction: column;
      max-width: 200px;
    }
  }
  .section-bottom {
    background-image: url(/img/bottom-mobile.png);
    background-size: 700px;
  }
}
// @media (max-width: 1214px) {
//   .section-top {
//     background-size: contain;
// }
// }
@media (max-width: 700px) {
  .section-bottom__img-wrapper{
    display: flex; 
    justify-content: center;
  }
  .section-bottom__img-planet-one{
    width: 90%;
  }
  .section-bottom__title{
    top: calc((100vw - 375px) / 1280 * -247 + -60px);
  }
}
.section-top__item-burger-active:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}
.section-top__item-burger-active:nth-child(2) {
  display: none;
}
.section-top__item-burger-active:nth-child(3) {
  transform: rotate(133deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.section-top__button{
  margin-bottom: calc((100vw - 375px) / 1280 * 70 + 0px);
  text-transform: uppercase;
  font-weight: 600;
  font-size:calc((100vw - 375px) / 1920 * 50 + 10px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  cursor: pointer;
  width: calc((100vw - 375px) / 1920 * 380 + 100px);
  height: calc((100vw - 375px) / 1920 * 380 + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url(/img/button.png);
  background-repeat: no-repeat;
  
}
.section-top__button img{
  // margin-top: calc((100vw - 375px) / 1920 * 20 + 5px);
  width: calc((100vw - 375px) / 1920 * 20 + 10px);
} 
.section-top__button p{
  margin-top: calc((100vw - 375px) / 1920 * 0 + 10px);
}